.budget-detail-card {
  height: 15vmin;
  width: 100%;
  border-radius: 2vmin;
  color: white;
  opacity: 0.95;
}

.expense-card {
  width: auto;
}

.styled-table {
  border-collapse: collapse;
  margin: 1vmin 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(255, 12, 12, 0.15);
}

.styled-table thead tr {
  background-color: red;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 1vmin 4vmin;
  font-size: 2.5vmin;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ee0a0a;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f60909;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

button > .cancel-button {
  margin-left: -2vmin;
  margin: -5vmin;
  margin-bottom: 2vmin;
 
}

div > button[type="submit"] {
  margin-left: -2vmin;
}

h3 {
  font-size: 4vmin;
}