/* .MyBudgets-container {
  background: url('https://i.imgur.com/ghud73y.gif');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} */

.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  opacity: 80%;
 }
 
 body {
   height: 100vh;
   width: 100vw;
   background-size: cover;
   background-position: center;
 }
 
 .item-card {
   background-color: #BC8F8F;
   border-style: solid;
   margin: 1vw;
   border-radius: 5px;
   border-width: 0.5px;
   border-color: white;
   text-align: center;
   height: 30vh;
   width: 30vw;
 }
 
 .item-card:hover {
   transform: scale(1.10);
 }
 
 /* .name {
   margin: 1vw;
   background-color: white;
   border-radius: 4px;
 }
  */