.Home-container {
  background: url(https://i.imgur.com/UYRqT0F.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
 }