@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap');

body {
  margin: 10;
  font-family: 'Elsie Swash Caps', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html { 
  background: url(https://i.imgur.com/lMvYjvV.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: 'Elsie Swash Caps', cursive;
}

/* CSS Custom Properties */
:root {
  --text-light: white;
  --text-dark: black;
}

h1 {
  color: var(--text-light);
  font-size: 4vmin;
  text-align: center;
}

.Title {
  color: var(--text-light);
  font-size: 10vmin;
  text-align: center;
  text-shadow: 2px 2px magenta;
}

h3 {
  text-align: center;
  color: magenta;
  font-size: 5vmin;
}

.Sub-Title {
  color: magenta;
  font-size: 5vmin;
  text-align: center;
  text-shadow: 2px 2px white;
}

th {
  color: magenta;
  font-size: 3vmin;
}

h4, td {
  color: white;
  font-size: 2vmin;
}

p {
  color: var(--text-light)
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(255, 12, 12, 0.15);
}

.styled-table thead tr {
  background-color: red;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 2vmin 8vmin;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ee0a0a;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f60909;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* *, *:before, *:after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background-color: var(--tan-4); */
  padding: 2vmin;
  height: 100vh;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

code {
  font-family: 'Elsie Swash Caps', cursive;
}

#root {
  height: 100%;
}

.nav {

  /* padding-left:0vmin;
  padding-right:0vmin; */
  /* margin: 0; */
  /* padding-top: 0; */
  color: white;
  text-decoration: none;
  grid-row: 1 / 2;
  font-size: 3vmin;
  grid-column: 1 / 4;
  background: magenta;
  position: sticky;
  padding: 1.1em;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}




/* .align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
} */

/* .flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .flex-col {
  flex-direction: column;
} */

/* .flex-j-end {
  justify-content: flex-end;
} */

.scroll-y {
  overflow-y: scroll;
}

/* .section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
} */


/* FORM */
.form-container {
  padding: 3vmin;
  /* background-color: var(--tan-1); */
  /* border: .1vmin solid var(--tan-3); */
  /* border-radius: 1vmin; */
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);

}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

/* input:focus {
  border-color: var(--orange);
} */
/* 
button, a.button {
  align-items: center;
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  align-content: space-around;
} */

/* button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
} */

/* button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
} */



/* ~***~ ALL BUTTONS!!!! ~***~ */

/* body {
  display: flex;
  height:100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
} */

a {
  text-decoration: none;
  color: black
}

a.button {
  color: black;
  font-size: 3vmin;
  text-decoration: none;
  display: flex;

}

button {
  justify-content: center;
  text-decoration: none;
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
  /* margin-left: 8em; */
}

button {
  margin-left: 20vmin;
  text-decoration: none;
  color: #6a3edb;
  border: 6px solid #ffabe9;
  border-radius:15px;
  padding: 1vmin 1Vmin;
  font-size: 15px;
  font-family: tahoma;
  letter-spacing:3px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #2d1125) drop-shadow(0 0 50px #e7afd8) contrast(2) brightness(1);
  transition: .5s;
  align-items: center;
}

button:hover, a.button:hover {
  color: white;
  background-color: rgb(210, 1, 182);
  filter: drop-shadow(0 0 20px #fc48cc) contrast(2) brightness(2);
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  justify-content: center;
}