@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap');

body {
  margin: 10;
  font-family: 'Elsie Swash Caps', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: auto;
}

html { 
  background: url(https://i.imgur.com/2CBqs3D.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Home-container {
  background: url(https://i.imgur.com/UYRqT0F.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  opacity: 90%;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'Elsie Swash Caps', cursive;
}

h1 {
  color: white;
  font-size: 4vmin;
  text-align: center;
}

h2 {
  text-align: center;
  color: #0A7E8C;
  font-size: 6vmin;
}

h3 {
  text-align: center;
  color: white;
  font-size: 5vmin;
}

th {
  color: magenta;
  font-size: 3vmin;
}

h4, td {
  color: white;
  font-size: 2vmin;
}

p {
  color: white;
  font-size: 2vmin;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: 'Elsie Swash Caps', cursive;
}

#root {
  height: 100%;
}

.nav {
  color: white;
  text-decoration: none;
  grid-row: 1 / 2;
  font-size: 3vmin;
  grid-column: 1 / 4;
  background: #3b7784;
  position: sticky;
  padding: 1.1em;
  margin: 0;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2vmin;
}

.scroll-y {
  overflow-y: scroll;
}

.App {
  text-align: center;
}

/* ~***~ FORM ~***~ */

*, :after, :before {
  box-sizing: border-box;
}

p.error-message {
  color: red;
  text-align: center;
  margin: 2vmin;
  padding: 2vmin;
  font-size: 3vmin;
}

.form-container {
  padding: 3vmin;
}

div {
  display: block;
}

form {
  display: grid;
  grid-gap: 1.25vmin;
  /* grid-template-columns: 1fr 3fr; */
  grid-template-columns: 20rem auto;
  width: 30vmin;
  gap: 1.25vmin;
  color: white;
  align-items: center;
}

div > form {
  display: grid;
  grid-gap: 1.25vmin;
  /* grid-template-columns: 1fr 3fr; */
  grid-template-columns: 20rem auto;
  width: 30vmin;
  gap: 1.25vmin;
  color: white;
  align-content: center;
  margin-left: 1vmin;
}

form > button[type="submit"] {
  margin-left: 45vmin;
}

label {
  font-size: 3vmin;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

input {
  border-radius: 3vmin;
  color: black;
  background-image: none !important;
  outline: none;
  width: 40vmin;
  align-items: center;
  margin-top: 2vmin;
}

input, select {
  padding: 1vmin;
  outline:none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 20vmin;
  -webkit-border-radius:20vmin;
  -moz-border-radius:3px;
  border: 5px solid magenta;
  font-size: 3.5vmin;
  width: 50vmin;
}

input:focus, select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5vmin rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5vmin rgba(0, 0, 255, 1);
  border: solid rgba(0,0,255, 0.8); 
}


/* ~***~ ALL BUTTONS & Links!!!! ~***~ */

a {
  text-decoration: none;
  color: white;
}

button, .sign-up-button {
  margin-left: 20vmin;
  margin-left: 90vmin;
  text-decoration: none;
  color: black;
  border: 6px solid #ffabe9;
  border-radius:15px;
  padding: 1vmin 1Vmin;
  font-size: 15px;
  font-family: tahoma;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
  align-items: center;
  grid-template-columns: auto auto auto auto;
}

button:hover, a.button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
}

button, .sign-up-button, button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

button, .sign-up-button, form>button {
  background-color: magenta;
  color: black;
  width: 30vh;
}

button, form>button, .sign-up-button {
  font-weight: 100;
}

a.button, button, form>button, .sign-up-button {
  border: 0.5vmin solid #e7e2dd;
  border-radius: 5vmin;
  cursor: pointer;
  font-size: 2vmin;
  font-weight: 700;
  margin: 1vmin;
  outline: none;
  padding: 1vmin;
  text-align: center;
  text-decoration: none;
}

.add-budget-form {
  margin: 20vmin;
  padding: 200vmin;
}