@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap');

body {
  margin: 10;
  font-family: 'Elsie Swash Caps', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: auto;
}


html { 
  background: url(https://i.imgur.com/2CBqs3D.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.Home-container {
  background: url(https://i.imgur.com/UYRqT0F.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  opacity: 90%;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'Elsie Swash Caps', cursive;
}

h1 {
  color: white;
  font-size: 4vmin;
  text-align: center;
}

h2 {
  text-align: center;
  color: gold;
  font-size: 6vmin;
}

h3 {
  text-align: center;
  color: magenta;
  font-size: 5vmin;
}

th {
  color: magenta;
  font-size: 3vmin;
}

h4, td {
  color: white;
  font-size: 2vmin;
}

p {
  color: white;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(255, 12, 12, 0.15);
}

.styled-table thead tr {
  background-color: red;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 2vmin 8vmin;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ee0a0a;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f60909;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* *, *:before, *:after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background-color: var(--tan-4); */
  padding: 2vmin;
  height: 100vh;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

code {
  font-family: 'Elsie Swash Caps', cursive;
}

#root {
  height: 100%;
}

.nav {
  color: white;
  text-decoration: none;
  grid-row: 1 / 2;
  font-size: 3vmin;
  grid-column: 1 / 4;
  background: linear-gradient(50deg, #00ff59, #02b3ff);
  background: #3b7784;
  position: sticky;
  padding: 1.1em;
  margin-left: -4vmin;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}




/* .align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
} */

/* .flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .flex-col {
  flex-direction: column;
} */

/* .flex-j-end {
  justify-content: flex-end;
} */

.scroll-y {
  overflow-y: scroll;
}

/* .section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
} */


/* FORM */

*, :after, :before {
  box-sizing: border-box;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

.form-container {
  padding: 3vmin;
}

div {
  display: block;
}

.App {
  text-align: center;
}

form {
  display: grid;
  grid-gap: 1.25vmin;
  /* grid-template-columns: 1fr 3fr; */
  grid-template-columns: 20rem auto;
  width: 30vmin;
  gap: 1.25vmin;
  color: white;
  align-items: center;
}

div > form {
  display: grid;
  grid-gap: 1.25vmin;
  /* grid-template-columns: 1fr 3fr; */
  grid-template-columns: 20rem auto;
  width: 30vmin;
  gap: 1.25vmin;
  color: white;
  align-content: center;
  margin-left: 1vmin;
}

form > button[type="submit"] {
  margin-left: 45vmin;
}

label {
  font-size: 3vmin;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

input {
  /* border: .1vmin solid var(--tan-3); */
  border-radius: 3vmin;
  /* border-color: pink; */
  color: black;
  background-image: none !important;
  outline: none;
  width: 40vmin;
  align-items: center;
  margin-top: 2vmin;
}

input, select {
  padding: 1vmin;
  outline:none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 20vmin;
  -webkit-border-radius:20vmin;
  -moz-border-radius:3px;
  border: 5px solid magenta;
  font-size: 3.5vmin;
  width: 50vmin;
}

input:focus, select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5vmin rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5vmin rgba(0, 0, 255, 1);
  border: solid rgba(0,0,255, 0.8); 
}

/* 
button, a.button {
  align-items: center;
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  align-content: space-around;
} */

/* button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
} */

/* button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
} */



/* ~***~ ALL BUTTONS!!!! ~***~ */
/* 
body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

a {
  text-decoration: none;
  color: white;
}

/* a.button {
  display: grid;
  color: black;
  font-size: 3vmin;
  text-decoration: none;
  display: flex;

} */




button, .sign-up-button {
  margin-left: 20vmin;
  margin-left: 90vmin;
  text-decoration: none;
  color: black;
  border: 6px solid #ffabe9;
  border-radius:15px;
  padding: 1vmin 1Vmin;
  font-size: 15px;
  font-family: tahoma;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #2d1125) drop-shadow(0 0 50px #e7afd8) contrast(2) brightness(1);
  transition: .5s;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  /* grid-column-start: 4; */
}

button:hover, a.button:hover {
  color: white;
  background-color: rgb(210, 1, 182);
  filter: drop-shadow(0 0 20px #fc48cc) contrast(2) brightness(2);
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.sign-up-button, button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  /* justify-content: center;
  align-items: center;
  font-size: 2vmin;
  padding: .4vmin .5vmin; */
}

button, .sign-up-button, form>button {
  background-color: magenta;
  width: 30vh;
}

button, form>button, .sign-up-button {
  font-weight: 100;
}

a.button, button, form>button, .sign-up-button {
  border: 0.5vmin solid #e7e2dd;
  border-radius: 5vmin;
  cursor: pointer;
  font-size: 2vmin;
  font-weight: 700;
  margin: 1vmin;
  outline: none;
  padding: 1vmin;
  text-align: center;
  text-decoration: none;
}


.add-budget-form {
  margin: 20vmin;
  padding: 200vmin;
}